/* Document styles */

body {
    font-family: 'Rubik', sans-serif;
}

.divider {
    height: 50px;
}

/* Header styles */

.navbar {
    background-color: #2C4251;
}

.navbar-brand.h1 {
    color: #FF784F;
}

.navbar-brand {
    color: white;
}

/* Sidebar styles */
.btn-outline-secondary {
    color: white;
    border: none;
}

.btn {
    background-color: #2C4251;
}

.btn:hover {
    background-color: #FF784F;
}

.btn-outline-dark {
    background-color: white;
    width: 100%;
    border-radius: 0;
    border-color: #ced4da;
}

.btn-outline-dark:hover {
    border-color: #FF784F;
}

.btn-outline-dark:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.btn-outline-dark:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: solid 1px #ced4da;
}

#clear-btn {
    width: 100%;
    background-color: #FF784F;
    border-color: #FF784F;
}

#clear-btn:hover {
    background-color: #2C4251;
    border-color: #2C4251;
}

/* Detail overview styles */
#weather-details {
    list-style: none;
    line-height: 2;
    font-size: large;
    padding-left: 0;
}

#content-city {
    display: inline-block;
}

.header-icon {
    display: inline-block;
    margin-bottom: 1rem;
}

.uv-warning {
    border-radius: 3px;
    padding: 1px;
}

/* 5 day forecast styles */
.forecast-div {
    display: none; 
}

.forecast {
    background-color: #95B2C6;
    border: 1px solid #95B2C6;
    border-radius: 3px;
    color: white;
    height: 250px;
    padding: 10px;
}

/* Modal styles */

.btn-primary {
    background-color: #FF784F;
    border-color: #FF784F;
}

.btn-primary:hover {
    background-color: #2C4251;
    border-color: #2C4251;
}

.btn-secondary {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}

.btn-secondary:hover {
    background-color: #2C4251;
    border-color: #2C4251;
}

/* Media queries */
@media only screen and (max-width: 575px) {
    .detail-overview {
        margin-top: 30px;
    }

    .forecast {
        width: 80%;
    }
}